<section class="min-h-screen hero-background mt-[80px] flex flex-col justify-center items-center">
  <div class="section-label flex items-center gap-2 mb-8 mt-20 py-2 px-4 rounded-full">
    <span class="flex items-center justify-center"
      ><i class="fa-solid fa-circle fa-fade text-[6px]" style="color: hsl(24, 93%, 52%)"></i
    ></span>
    <span class="relative flex size-2">
      <span
        class="absolute inline-flex h-full w-full animate-ping rounded-full bg-orange-500 opacity-75"
      ></span>
      <span class="relative inline-flex size-2 rounded-full bg-orange-500"></span>
    </span>
    <span class="text-white text-sm font-medium">مرحباً بك في عدسة</span>
  </div>
  <div class="max-w-[680px] text-center">
    <h1 class="text-[48px] md:text-[60px] lg:text-[72px] font-bold text-white leading-tight mb-6">
      اكتشف <span class="text-[#FA941C]">فن</span> <br />
      التصوير الفوتوغرافي
    </h1>
    <p
      class="text-[20px] md:text-[24px] font-normal text-[var(--secondaryColor-01)] leading-relaxed mb-8"
    >
      انغمس في أسرار المحترفين ونصائح عملية لتطوير مهاراتك في التصوير.
    </p>
  </div>
  <div class="grid md:grid-cols-2 gap-4 md:gap-1 w-full md:w-fit font-semibold text-[16px] mb-15">
    <div
      class="flex items-center justify-center gap-2 text-center mx-2 text-white bg-[#F36912] py-4 px-8 rounded-full group transition-transform duration-300 group hover:translate-y-[-2px]"
    >
      <a routerLink="/blog">اكتشف المقالات</a>
      <span class="transition-transform duration-300 group-hover:translate-x-[-3px] text-[14px]"
        ><i class="fa-solid fa-arrow-left-long"></i
      ></span>
    </div>
    <div
      class="flex items-center justify-center gap-2 mx-2 text-white border border-neutral-700 py-4 px-8 rounded-full transition-color duration-300 hover:text-[#f97316] hover:bg-[#2D180A] hover:border-[#F97315]"
    >
      <span> <i class="fa-solid fa-circle-info"></i></span>

      <a routerLink="/about">اعرف المزيد</a>
    </div>
  </div>
  <div
    class="grid grid-cols-2 md:grid-cols-4 px-4 md:px-6 lg:px-0 pb-20 w-full gap-2 lg:gap-4 lg:w-[50%] lg:mx-auto"
  >
    <div
      class="flex items-center justify-center flex-col bg-[#141414] w-full h-35 border border-neutral-800 rounded-3xl hover:scale-105 transition-transform duration-300"
    >
      <span class="text-2xl font-black text-[#f97200]"><i class="fa-solid fa-newspaper"></i></span>
      <span class="text-3xl font-bold text-[#F98D1A]">+50</span>
      <span class="text-sm font-normal text-[#737373]">مقالة</span>
    </div>
    <div
      class="flex items-center justify-center flex-col bg-[#141414] w-full h-35 border border-neutral-800 rounded-3xl hover:scale-105 transition-transform duration-300"
    >
      <span class="text-2xl font-black text-[#f97200]"><i class="fa-solid fa-users"></i></span>
      <span class="text-3xl font-bold text-[#F98D1A]">+10ألف</span>
      <span class="text-sm font-normal text-[#737373]">قارئ</span>
    </div>
    <div
      class="flex items-center justify-center flex-col bg-[#141414] w-full h-35 border border-neutral-800 rounded-3xl hover:scale-105 transition-transform duration-300"
    >
      <span class="text-2xl font-black text-[#f97200]"
        ><i class="fa-solid fa-folder-open"></i
      ></span>
      <span class="text-3xl font-bold text-[#F98D1A]">4</span>
      <span class="text-sm font-normal text-[#737373]">تصنيفات</span>
    </div>
    <div
      class="flex items-center justify-center flex-col bg-[#141414] w-full h-35 border border-neutral-800 rounded-3xl hover:scale-105 transition-transform duration-300"
    >
      <span class="text-2xl font-black text-[#f97200]"><i class="fa-solid fa-pen-nib"></i></span>
      <span class="text-3xl font-bold text-[#F98D1A]">6</span>
      <span class="text-sm font-normal text-[#737373]">كاتب</span>
    </div>
  </div>
</section>

<section class="py-24 bg-[#0A0A0A] relative">
  <div
    class="absolute top-0 right-0 bg-linear-to-l from-orange-500/5 to-transparent h-full w-1/3"
  ></div>
  <div class="container">
    <div class="flex md:items-end md:flex-row justify-between flex-col sm:items-start">
      <div class="flex flex-col items-start">
        <div class="section-label flex items-center gap-2 mb-3 py-2 px-4 rounded-full">
          <span class="flex items-center justify-center"
            ><i class="fa-solid fa-circle fa-fade text-[6px]" style="color: hsl(24, 93%, 52%)"></i
          ></span>
          <span class="relative flex size-2">
            <span
              class="absolute inline-flex h-full w-full animate-ping rounded-full bg-orange-500 opacity-75"
            ></span>
            <span class="relative inline-flex size-2 rounded-full bg-orange-500"></span>
          </span>
          <span class="text-[#f97316] text-sm font-medium">مميز</span>
        </div>
        <div>
          <h2 class="text-[36px] md:text-[48px] lg:text-[60px] font-bold text-white mb-2">
            مقالات مختارة
          </h2>
          <p class="text-[18px] font-normal text-[var(--secondaryColor-01)] mb-4">
            محتوى منتقى لبدء رحلة تعلمك
          </p>
        </div>
      </div>
      <div
        class="flex items-center justify-center gap-1 text-center mx-2 text-white bg-linear-to-r from-orange-500 to-orange-600 py-3 px-4 rounded-xl transition-transform duration-300 group hover:translate-y-[-2px]"
      >
        <a routerLink="/blog">عرض الكل</a>
        <span class="transition-transform duration-300 group-hover:translate-x-[-3px] text-[14px]"
          ><i class="fa-solid fa-angle-left"></i
        ></span>
      </div>
    </div>
  </div>

  <div class="container">
    <section class="space-y-8 mt-10">
      @for (article of articleList | slice: 0 : 3; track article.id) {
        <article
          class="group bg-[#161616] rounded-3xl overflow-hidden border border-[#262626] hover:border-orange-500/30 transition-all duration-500"
        >
          <a routerLink="/blog/article">
            <div class="grid md:grid-cols-2 gap-0">
              <div class="relative h-72 md:h-100 overflow-hidden">
                <img
                  class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-700"
                  [src]="article.image"
                  [alt]="article.title"
                />
                <div
                  class="absolute top-2 right-4 rounded-full py-0.5 px-3 bg-linear-to-r from-orange-500 to-yellow-500 flex items-center justify-center gap-1"
                >
                  <span><i class="fa-solid fa-star text-white text-2xs"></i></span>
                  <span class="text-xs font-semibold text-white">مميز</span>
                </div>
              </div>
              <div class="flex flex-col bg-[#161616] p-8 md:p-10">
                <div class="flex items-center gap-3 mb-4">
                  <span
                    class="text-orange-500 text-xs font-semibold bg-orange-500/10 border border-orange-500/20 px-3 py-1 rounded-full"
                    >{{ article.category }}</span
                  >
                  <div class="text-neutral-500 text-sm flex items-center gap-1">
                    <span><i class="fa-solid fa-clock"></i></span>
                    <span>{{ article.readTime }}</span>
                  </div>
                </div>
                <h2
                  class="text-white font-bold sm:text-2xl md:text-3xl mb-4 leading-tight transition-colors duration-300 group-hover:text-orange-500"
                >
                  {{ article.title }}
                </h2>
                <p class="text-neutral-400 mb-5 md:mb-12 lg:mb-28 leading-relaxed">
                  {{ article.excerpt }}
                </p>
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-3">
                    <div class="relative">
                      <img
                        class="w-12 h-12 object-cover rounded-full ring-2 ring-[#262626] shadow-md"
                        [src]="article.author.avatar"
                        [alt]="article.author.name"
                      />
                      <div
                        class="absolute w-4 h-4 rounded-full bottom-0 left-0 bg-orange-500 border-2 border-[#161616]"
                      ></div>
                    </div>
                    <div>
                      <h3 class="text-sm font-semibold text-white">{{ article.author.name }}</h3>
                      <p class="text-sm text-neutral-500 mt-1">
                        {{ article.date }}
                      </p>
                    </div>
                  </div>
                  <div
                    class="flex items-center gap-2 text-orange-500 font-semibold text-sm group-hover:gap-3 transition-all duration-300"
                  >
                    <span>اقرا المقال</span>
                    <span><i class="fa-solid fa-arrow-left-long"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </article>
      }
    </section>
  </div>
</section>

<section class="pt-6 pb-25 bg-[#111111] border-y border-[#262626]">
  <div class="container">
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="mb-12 flex items-center justify-center flex-col">
        <div class="section-label flex items-center gap-2 mb-8 mt-20 py-2 px-4 rounded-full">
          <span class="flex items-center justify-center"
            ><i class="fa-solid fa-circle fa-fade text-[6px]" style="color: hsl(24, 93%, 52%)"></i
          ></span>
          <span class="relative flex size-2">
            <span
              class="absolute inline-flex h-full w-full animate-ping rounded-full bg-orange-500 opacity-75"
            ></span>
            <span class="relative inline-flex size-2 rounded-full bg-orange-500"></span>
          </span>
          <span class="text-[#f97316] text-sm font-medium">التصنيفات</span>
        </div>

        <h2 class="text-[36px] md:text-[48px] lg:text-[60px] font-bold text-white mb-2">
          استكشف حسب الموضوع
        </h2>
        <p class="text-[18px] font-normal text-(--secondaryColor-01) mb-4">
          اعثر على محتوى مصمم حسب اهتماماتك
        </p>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-4 md:gap-6">
        <a
          routerLink="/blog"
          class="group bg-[#161616] p-6 border border-[#262626] rounded-2xl transition-all duration-500 hover:-translate-y-1 hover:bg-linear-to-br from-orange-500 to-yellow-500"
        >
          <div class="flex items-center justify-between">
            <div>
              <span
                class="w-12 h-12 bg-orange-500/10 border border-orange-500/20 mb-4 flex items-center justify-center text-orange-500 text-xl rounded-xl transition-all duration-300 group-hover:text-white group-hover:border-transparent group-hover:bg-white/20"
                ><i class="fa-solid fa-gear"></i
              ></span>
              <h3 class="text-lg font-bold text-white mb-1">اضاءة</h3>
              <span
                class="text-neutral-500 text-sm transition-colors duration-300 group-hover:text-white/80"
                >3 مقالات</span
              >
            </div>
            <span
              class="w-8 h-8 rounded-full text-white bg-[#262626] flex justify-center items-center transition-all duration-300 group-hover:bg-white/20 opacity-0 group-hover:opacity-100 group-hover:-translate-y-1"
              ><i class="fa-solid fa-angle-left"></i
            ></span>
          </div>
        </a>
        <a
          routerLink="/blog"
          class="group bg-[#161616] p-6 border border-[#262626] rounded-2xl transition-all duration-500 hover:-translate-y-1 hover:bg-linear-to-br from-orange-500 to-yellow-500"
        >
          <div class="flex items-center justify-between">
            <div>
              <span
                class="w-12 h-12 bg-orange-500/10 border border-orange-500/20 mb-4 flex items-center justify-center text-orange-500 text-xl rounded-xl transition-all duration-300 group-hover:text-white group-hover:border-transparent group-hover:bg-white/20"
                ><i class="fa-solid fa-user"></i
              ></span>
              <h3 class="text-lg font-bold text-white mb-1">بورترية</h3>
              <span
                class="text-neutral-500 text-sm transition-colors duration-300 group-hover:text-white/80"
                >3 مقالات</span
              >
            </div>
            <span
              class="w-8 h-8 rounded-full text-white bg-[#262626] flex justify-center items-center transition-all duration-300 group-hover:bg-white/20 opacity-0 group-hover:opacity-100 group-hover:-translate-y-1"
              ><i class="fa-solid fa-angle-left"></i
            ></span>
          </div>
        </a>
        <a
          routerLink="/blog"
          class="group bg-[#161616] p-6 border border-[#262626] rounded-2xl transition-all duration-500 hover:-translate-y-1 hover:bg-linear-to-br from-orange-500 to-yellow-500"
        >
          <div class="flex items-center justify-between">
            <div>
              <span
                class="w-12 h-12 bg-orange-500/10 border border-orange-500/20 mb-4 flex items-center justify-center text-orange-500 text-xl rounded-xl transition-all duration-300 group-hover:text-white group-hover:border-transparent group-hover:bg-white/20"
                ><i class="fa-solid fa-mountain-sun"></i
              ></span>
              <h3 class="text-lg font-bold text-white mb-1">مناظر طبيعية</h3>
              <span
                class="text-neutral-500 text-sm transition-colors duration-300 group-hover:text-white/80"
                >2 مقالات</span
              >
            </div>
            <span
              class="w-8 h-8 rounded-full text-white bg-[#262626] flex justify-center items-center transition-all duration-300 group-hover:bg-white/20 opacity-0 group-hover:opacity-100 group-hover:-translate-y-1"
              ><i class="fa-solid fa-angle-left"></i
            ></span>
          </div>
        </a>
        <a
          routerLink="/blog"
          class="group bg-[#161616] p-6 border border-[#262626] rounded-2xl transition-all duration-500 hover:-translate-y-1 hover:bg-linear-to-br from-orange-500 to-yellow-500"
        >
          <div class="flex items-center justify-between">
            <div>
              <span
                class="w-12 h-12 bg-orange-500/10 border border-orange-500/20 mb-4 flex items-center justify-center text-orange-500 text-xl rounded-xl transition-all duration-300 group-hover:text-white group-hover:border-transparent group-hover:bg-white/20"
                ><i class="fa-solid fa-sliders"></i
              ></span>
              <h3 class="text-lg font-bold text-white mb-1">تقنيات</h3>
              <span
                class="text-neutral-500 text-sm transition-colors duration-300 group-hover:text-white/80"
                >5 مقالات</span
              >
            </div>
            <span
              class="w-8 h-8 rounded-full text-white bg-[#262626] flex justify-center items-center transition-all duration-300 group-hover:bg-white/20 opacity-0 group-hover:opacity-100 group-hover:-translate-y-1"
              ><i class="fa-solid fa-angle-left"></i
            ></span>
          </div>
        </a>
        <a
          routerLink="/blog"
          class="group bg-[#161616] p-6 border border-[#262626] rounded-2xl transition-all duration-500 hover:-translate-y-1 hover:bg-linear-to-br from-orange-500 to-yellow-500"
        >
          <div class="flex items-center justify-between">
            <div>
              <span
                class="w-12 h-12 bg-orange-500/10 border border-orange-500/20 mb-4 flex items-center justify-center text-orange-500 text-xl rounded-xl transition-all duration-300 group-hover:text-white group-hover:border-transparent group-hover:bg-white/20"
                ><i class="fa-solid fa-gear"></i
              ></span>
              <h3 class="text-lg font-bold text-white mb-1">معدات</h3>
              <span
                class="text-neutral-500 text-sm transition-colors duration-300 group-hover:text-white/80"
                >3 مقالات</span
              >
            </div>
            <span
              class="w-8 h-8 rounded-full text-white bg-[#262626] flex justify-center items-center transition-all duration-300 group-hover:bg-white/20 opacity-0 group-hover:opacity-100 group-hover:-translate-y-1"
              ><i class="fa-solid fa-angle-left"></i
            ></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="py-24 bg-[#0A0A0A] relative">
  <div
    class="w-1/3 h-full absolute left-0 top-0 bg-linear-to-r from-orange-500/5 to-transparent pointer-events-none"
  ></div>
  <div class="container">
    <div class="flex md:items-end md:flex-row justify-between flex-col sm:items-start">
      <div class="flex flex-col items-start">
        <div class="section-label flex items-center gap-2 mb-3 py-2 px-4 rounded-full">
          <span class="flex items-center justify-center"
            ><i class="fa-solid fa-circle fa-fade text-[6px]" style="color: hsl(24, 93%, 52%)"></i
          ></span>
          <span class="relative flex size-2">
            <span
              class="absolute inline-flex h-full w-full animate-ping rounded-full bg-orange-500 opacity-75"
            ></span>
            <span class="relative inline-flex size-2 rounded-full bg-orange-500"></span>
          </span>
          <span class="text-[#f97316] text-sm font-medium"> الأحدث</span>
        </div>
        <div>
          <h2 class="text-[36px] md:text-[48px] lg:text-[60px] font-bold text-white mb-2">
            أحدث المقالات
          </h2>
          <p class="text-[18px] font-normal text-[var(--secondaryColor-01)] mb-4">
            محتوى جديد طازج من المطبعة
          </p>
        </div>
      </div>

      <a
        routerLink="/blog"
        class="flex items-center mx-4 text-center gap-2 font-semibold text-orange-500 transition-colors duration-300 group hover:text-orange-400"
      >
        <span>عرض جميع المقالات</span>
        <span class="transition-transform duration-300 group-hover:-translate-x-1 text-[14px]"
          ><i class="fa-solid fa-arrow-left-long"></i
        ></span>
      </a>
    </div>
    <section class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
      @for (article of articleList | slice: 3 : 6; track article.id) {
        <a
          routerLink="/blog/article"
          class="group rounded-3xl overflow-hidden bg-[#151515] border border-[#262626] hover:border-neutral-600 transition-all duration-500 hover:-translate-y-1"
        >
          <div>
            <div class="relative h-50 overflow-hidden">
              <img
                [src]="article.image"
                [alt]="article.title"
                class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110"
              />
              <div
                class="absolute top-2 right-4 rounded-full border border-[#333] py-0.5 px-3 bg-[#0a0a0a]/80 text-white text-sm font-semibold"
              >
                <span class="text-xs font-semibold text-white">{{ article.category }}</span>
              </div>
              <div
                class="absolute inset-0 bg-linear-to-t from-black/60 via-transparent to-transparent transition-opacity duration-500 opacity-0 group-hover:opacity-100"
              ></div>
            </div>
            <div class="p-6">
              <div class="flex items-center gap-3 text-neutral-500 mb-3 text-sm">
                <div class="text-neutral-500 text-sm flex items-center gap-1">
                  <span><i class="fa-solid fa-clock"></i></span>
                  <span>{{ article.readTime }}</span>
                </div>
                <span class="text-[5px]"><i class="fa-solid fa-circle"></i></span>
                <span>{{ article.date }}</span>
              </div>
              <h3
                class="font-bold text-white mb-3 text-xl leading-tight transition-colors duration-300 group-hover:text-orange-500"
              >
                {{ article.title }}
              </h3>
              <p class="text-neutral-400 mb-5 text-sm leading-relaxed">
                {{ article.excerpt }}
              </p>
              <div class="flex items-center justify-between pt-4 border-t border-[#262626]">
                <div class="flex items-center gap-3">
                  <img
                    [src]="article.author.avatar"
                    [alt]="article.author.name"
                    class="rounded-full w-9 h-9 object-cover ring-2 ring-[#262626]"
                  />
                  <div>
                    <h3 class="text-white text-sm font-medium">{{ article.author.name }}</h3>
                    <p class="text-neutral-500 text-sm">{{ article.author.role }}</p>
                  </div>
                </div>
                <div
                  class="w-8 h-8 rounded-full border border-orange-500/20 bg-orange-500/10 flex justify-center items-center text-orange-500 transition-all duration-300 group-hover:bg-orange-500 group-hover:border-transparent"
                >
                  <i
                    class="fa-solid fa-angle-left transition-all duration-300 group-hover:text-white"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </a>
      }
    </section>
  </div>
</section>

<section class="py-24 bg-[#0a0a0a] relative overflow-hidden">
  <div
    class="absolute top-0 left-1/2 -translate-x-1/2 bg-orange-500/10 rounded-full blur-3xl w-150 h-75"
  ></div>
  <div class="relative max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <div
      class="bg-[#161616] rounded-3xl border border-[#262626] flex items-center flex-col justify-center p-8 md:p-12 lg:p-16"
    >
      <span
        class="flex items-center justify-center w-16 h-16 mb-6 bg-linear-to-br from-orange-500 to-orange-600 rounded-2xl text-white"
      >
        <i class="fa-regular fa-envelope text-[25px]"></i>
      </span>
      <h2 class="text-white font-bold text-3xl md:text-4xl mb-4">
        اشترك في
        <span class="gradient">نشرتنا الإخبارية</span>
      </h2>
      <p class="text-neutral-400 mb-8 text-lg">
        احصل على نصائح التصوير الحصرية ودروس جديدة مباشرة في بريدك الإلكتروني
      </p>
      <form class="flex flex-col sm:flex-row gap-3 mb-6 w-[80%]">
        <input
          type="email"
          placeholder="ادخل بريدك الالكتروني "
          class="px-5 py-4 border border-[#262626] bg-[#0a0a0a] rounded-xl placeholder-neutral-500 flex-1 transition-all focus:outline-none focus:border-orange-500/50 focus:ring-1 focus:ring-orange-500"
        />
        <button
          type="submit"
          class="rounded-xl font-semibold text-white px-8 py-4 bg-linear-to-r from-orange-500 to-orange-600 transition-colors duration-300 hover:from-orange-600 hover:to-orange-700"
        >
          اشتراك الان
        </button>
      </form>
      <div class="flex items-center gap-4 justify-center flex-wrap text-sm text-neutral-500">
        <div class="flex items-center gap-4">
          <div class="flex -space-x-2 space-x-reverse">
            <img
              src="/photo-1507003211169-0a1dd7228f2d.jpeg"
              alt=""
              class="w-8 h-8 rounded-full border border-[#161616]"
            />
            <img
              src="/photo-1500648767791-00dcc994a43e.jpeg"
              alt=""
              class="w-8 h-8 rounded-full border border-[#161616]"
            />
            <img
              src="/photo-1472099645785-5658abf4ff4e.jpeg"
              alt=""
              class="w-8 h-8 rounded-full border border-[#161616]"
            />
          </div>
          <span>انضم لـ + <span class="text-white font-medium">10,000</span> مصور</span>
        </div>
        <span>بدون إزعاج</span>
        <span>إلغاء الاشتراك في أي وقت</span>
      </div>
    </div>
  </div>
</section>
